{% extends "base.html" %}

{% block titulo %} Solicitudes {% endblock %}

{% block contenido %} 

<h3 class="my-4">Solicitudes</h3>

<a name="" id="" class="btn btn-primary mb-2" href="{% url 'crearSolicitud' %}" role="button">Crear solicitud</a>

<div class="row">
    {% for solicitud in solicitudes %}
    <div class="col-md-4 my-2">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ solicitud.titulo }}</h5>
              <label>{{ solicitud.id_material_id }}</label>
              <p class="card-text">Detalles: {{ solicitud.detalles }}</p>
              <span>{{ solicitud.cantidad }}</span>
              <span>{{ solicitud.user }}</span>
              <p>{{solicitud.user.group.username}}</p>
              <p>{{solicitud.id_material.nombre}}</p>
              <span>area: {{ solicitud.id_material.area }}</span>
              <span>cantidad: {{ solicitud.id_material.cantidad }}</span>
              <img src="{{ solicitud.id_material.imagen.url }}" alt="" width="45">
              
              {% if validation %}
                <br>
                <a href="{% url 'eliminarSolicitud' solicitud.id %}" class="btn btn-primary">Cerrar Solicitud</a>
              {% endif %}

            </div>
          </div>
     </div>
     {% endfor %}
 </div>


{% endblock %}